body{
    padding-top : 120px;
}
input{
    text-align : start;
}
.btn{
    margin: 0.5em;
}
.bs-docs-section {
    margin-top: 4em;
    margin-bottom: 4em;
}
.bs-official-reply {
    border-color: rgba(0,0,0,0.1);
    border-style: solid;
    border-width: thin;
    padding: 20px;
    border-radius: 10px;
}

.form_author_name {
    width: 30%;
}
.form-login-object {
    width: 30%;
}

.article-margin {
    margin: 1em;
}
.article-margin .container {
    margin: 2em;
}

.login-form {
    align-items: center;
}

.single-center {
    width: 40%;
}

#footer{
    margin : 5em 0;
}
#footer li{
    float : left;
    margin-right : 1.5em;
    margin-bottom : 1.5em;
}
#footer p{
    clear : left;
    margin-bottom : 0;
}
#gravatar {
    margin-right : 0.5em;
}

.lli {
    list-style: none;
    margin: 5px;
}

#needed_recaptcha {
    transition: .5s ease;
}

.badge-facebook {
    background-color: #3b5998;
}

form #peti-status {
    width: 10vw;
}
.petiall-status {
    display: inline-block;
}
@media (max-width: 768px) {
    form #peti-status {
        width: 40vw;
    }
}
.btn-submit-container {
    position: relative;
}
.btn-submit-container * {
    position: absolute;
}
.btn-delall-first {
    z-index: 2;
}
.btn-delall-confirm {
    z-index: 0;
}