<!DOCTYPE HTML>
<html lang="ko">
<head>
<meta charset="utf-8">
    <title>{{ appname }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--common-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--Design Import-->
    <link rel="stylesheet" href="/css/minty.css">
    <link rel="stylesheet" href="/css/custom.css">
    {% assets "main_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

<script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });</script>
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a href="/admin/" class="navbar-brand">{{ appname }} for administrator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">홈 <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            <a class="dropdown-item" href="/">홈</a>
                            <a class="dropdown-item" href="/admin/">관리자 홈</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">사용자 관리 <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            <a class="dropdown-item" href="/admin/member/">전체 사용자 목록</a>
                            <a class="dropdown-item" href="/admin/admins/">관리자 관리</a>
                            <a class="dropdown-item" href="/admin/acl/">사용자 권한 레벨</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">청원 관리 <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            <a class="dropdown-item" href="/admin/petition/">청원 비정규 상태</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">사이트 관리 <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            <a class="dropdown-item" href="/admin/static/">정적 페이지 관리</a>
                            <a class="dropdown-item" href="/admin/verify_key/">verify_key 정보</a>
                        </div>
                    </li>
                    </li>  
                </ul>
                {{ nav_bar|safe }}
            </div>
        </div>
    </div>
    <div class="container">
        {{ body_content|safe }}
        <!-- footer area -->
        <footer id="footer">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/kpjhg0124/PetitionApplication-py">Any Bugs?</a></li>
                        <li><a href="https://github.com/kpjhg0124/PetitionApplication-py/graphs/contributors">Contributors</a></li>
                        <li><a href="https://github.com/kpjhg0124/PetitionApplication-py/"><i class="fab fa-github"></i>   Github</a></li>
                    </ul>
                    <p>Made by <a href="https://github.com/kpjhg0124">kpjhg0124</a>.</p>
                    <p>This project is licensed under the BSD 3-Clause License. See the <a href="https://github.com/kpjhg0124/PetitionApplication-py/blob/master/README.md">LICENSE</a> document for details.</p>
                    <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fontawesome.io/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>. Designs by <a href="https://bootswatch.com/">Bootswatch</a>.</p>
                </div>
            </div>
        </footer>
    </div>
    {% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>
