<div class="bs-docs-section">
    <h1>%_confirm_head_%</h1>
    <div class="bs-component">
        <form action="" accept-charset="utf-8" name="" method="post">
            <fieldset>
                %_form_alerts_%
                <div class="form-group">
                    <div class="form-group">
                        %_sns_login_status_%
                    </div>
                    <div class="form-group">
                        <label class="custom-control-label" for="description">처리 사유를 입력하십시오.</label>
                        <input type="text" class="form-control" name="description" id="description" placeholder="" required>
                    </div>
                </div>
            </fieldset>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Check" required>
                <label class="custom-control-label" for="Check">해당 작업 처리 시 서버에 요청 기록이 남음을 확인하고 이 작업을 계속합니다.</label>
            </div>
            <button type="submit" name="submit" class="btn btn-primary" value="publish">계속하기</button>%_super_secret_button_%
        </form>
    </div>
</div>
