<div class="bs-docs-section">
    <h1>로그인</h1> entree 엔진 계정으로
    <div class="bs-component">
        <form action="" accept-charset="utf-8" name="peti_write" method="post" class="login-form">
            <fieldset>
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" class="form-control form-login-object" name="account_id" placeholder="계정명" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-login-object" name="account_password_hash" placeholder="비밀번호" required>
                    </div>
                </div>
            </fieldset>
            <button type="submit" name="submit" class="btn btn-primary">로그인</button>
            <a href="/register/">계정이 없으신가요?</a>
        </form>
    </div>
</div>