<div class="bs-docs-section">
    <h1> form_display_name </h1>
    <p> form_publish_date   |   form_author </p>
    <div class="bs-component">
        <p> form_body_content </p>
    </div>
    <hr>
    <div class="bs-component">
        <form action="/peti/a/| form_id |/react" accept-charset="utf-8" name="form_write" method="post">
            <h3 id="progress-animated">청원 반응</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%" width="75%"></div>
            </div>
            <textarea class="form-control" id="form_react_content" name="form_react_content" rows="3" required></textarea>
            <button type="submit" name="submit" class="btn btn-primary" value="publish">청원 반응하기</button>
        </form>
    </div>
</div>