<div class="bs-docs-section">
    <h1> form_display_name </h1>
    <p> form_publish_date   |   form_author </p>
    <div class="bs-component">
        <p> form_body_content </p>
    </div>
    <hr>
    <div class="bs-component">
        <form action="/peti/a/ form_id /" accept-charset="utf-8" name="form_write" method="post">
            <h3 id="progress-animated">청원 반응</h3>
            <p>n개 반응</p>
            <textarea class="form-control" id="react_content" name="react_content" rows="3" required  react_enabled > react_content </textarea>
            <button type="submit" name="submit" class="btn btn-primary" value="publish"  react_enabled >청원 반응하기</button>
        </form>
        <div class="bs-component article-margin">
            <h5>익명 사용자</h5>
            <p>의견</p>
        </div>
    </div>
</div>